name: Create JLCPCB fabriction files for the PollySDR board.

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: earthly/actions-setup@v1
      with:
        version: v0.7.8
    - uses: actions/checkout@v2
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Put back the git branch into git (Earthly uses it for tagging)
      run: |
        branch=""
        if [ -n "$GITHUB_HEAD_REF" ]; then
          branch="$GITHUB_HEAD_REF"
        else
          branch="${GITHUB_REF##*/}"
        fi
        git checkout -b "$branch" || true
    - name: Build KiKit
      run: |
        branch=""
        if [ -n "$GITHUB_HEAD_REF" ]; then
          branch="$GITHUB_HEAD_REF"
        else
          branch="${GITHUB_REF##*/}"
        fi
        earthly --use-inline-cache --save-inline-cache --push +kikit --BRANCH=$branch
    - name: Build gerbers
      run: |
        branch=""
        if [ -n "$GITHUB_HEAD_REF" ]; then
          branch="$GITHUB_HEAD_REF"
        else
          branch="${GITHUB_REF##*/}"
        fi
        earthly --use-inline-cache --save-inline-cache --push +pollysdr-panel-gerbers --BRANCH=$branch && earthly --use-inline-cache --save-inline-cache --push +pollysdr-gerbers --BRANCH=$branch
    - uses: actions/upload-artifact@v3
      with:
        name: gerbers
        path: build/*
    - name: Generate drawings
      run: |
        branch=""
        if [ -n "$GITHUB_HEAD_REF" ]; then
          branch="$GITHUB_HEAD_REF"
        else
          branch="${GITHUB_REF##*/}"
        fi
        earthly --use-inline-cache --save-inline-cache --push +pollysdr-panel-gerbers --BRANCH=$branch || earthly --use-inline-cache --save-inline-cache --push +pollysdr-gerbers --BRANCH=$branch || echo "Failed"
    - uses: actions/upload-artifact@v3
      with:
        name: drawings
        path: build/*